<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FFSegmentStoreEncodedHeight</key>
	<integer>270</integer>
	<key>FFSegmentStoreEncodedWidth</key>
	<integer>152</integer>
	<key>FFSegmentStoreFieldOrder</key>
	<integer>-1</integer>
	<key>FFSegmentStoreFileFrameCount</key>
	<integer>1024</integer>
	<key>FFSegmentStoreFirstSample</key>
	<integer>0</integer>
	<key>FFSegmentStorePixelTransformArray</key>
	<array>
		<array>
			<real>0.20266666666666666</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>76</real>
			<real>0.0</real>
			<real>-0.20239880059970014</real>
			<real>0.0</real>
			<real>135</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>1</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>1</real>
		</array>
	</array>
	<key>FFSegmentStoreRenderProps</key>
	<string>FFRenderPropsThumbnail</string>
	<key>FFSegmentStoreSegmentStoreMD5</key>
	<data>
	u0YKgUb6OZUC+zQZub6DFA==
	</data>
	<key>FFSegmentStoreStoredFrameIndexes</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGHyBYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKUHCA8TGlUkbnVsbNMJCgsMDQ5cTlNSYW5nZUNvdW50ViRjbGFzc1tOU1Jhbmdl
	RGF0YREBu4AEgALSEAoREldOUy5kYXRhTxEFDAABAwEGAQkBDAEPARECFgEcAR4CIgEk
	AigBLAEvATUBOAE7AT4BQgFFAUgBTgFRAVUBWAJbAV4BYQFnAWsBbQJxAXQBdwF6AX0B
	gQEBhAEBhwEBigEBjQEBkAEBlAEBlwEBmgEBnQEBoAECowEBpgEBqgEBrQEBswEBtgEB
	uQEBvAECwAEBwwEBxgEBzwEB1AEB1gEB3AEB6QEB7wEB9QEB+AEB/wEBggIBhQIBiAIB
	iwIBjgIBkQICmAIBmwIBngIBoQIBpAIBqAIBqwIBsQIBtAIBtwIBugIBvgIBwQIBxAIB
	yAIBygIBzQIC0QIB1AIB1wIB2gIB3QIB4wIB5wIB6gIB7QIB8AIB8wIB9gIB/QIBgAMB
	gwMBhgMBiQMCjAMBkAMClgMBmQMBnAMBnwMBogMBpgMBqQMBsgMBuAMBvwMBxwMBywMB
	0gMB2AMB2gMB5QMB6wMB8QMB/gMBhAQBigQBlwQBnQQBowQCsAQBtQQCvQQBwAQByQQB
	0AQB1gQB4wQB6QQB7AQB7wQB/AQCggUBiAUBlQUBmwUBogUBrgUBswUDugUCxwUBzgUB
	0wUC4QUB5wUB7QUB9gUC+gUB/gUBgAYBhgYBkgYCmQYBoAYBrAYBsQYDuQYBxQYBxwYB
	ywYC0QYC3wYB5QYB6wYB8AYB+AYB/gYBhAcBkAcClwcBngcBqgcBrAcCsAcBtwcBwwcB
	ygcBzwcC3QcB4wcB6QcC9gcB/AcBgggBjggClQgBnAgBpggBqAgBrAgBrggBtQgBwQgB
	xwgDzQgC2wgB4AgC4wgB5wgB7QgB9AgB+ggBgAkBjAkCkQkBkwkBmgkBnwkCpgkBqgkB
	rAkBswkBtQkBvwkBxgkBywkC2QkB3AkC3wkB5QkB8gkB+AkB/gkBigoCkQoBmAoCpAoB
	qgoBsQoBvQoBwwoCxwoByQoC1QoD3AoC4woB8AoB/AoBiAsCkgsClgsBogsBrwsBuwsB
	xwsCzwsB1QsB4QsB7gsB+gsBhgwCjAwBlAwBoAwBrQwBuQwBxQwCyAwC0wwB3wwB7AwB
	+AwBhA0Ckg0Bng0Bqw0Btw0Bwg0D0Q0B3Q0B6g0B9g0B/g0Cgg4CkA4BnA4BqQ4BtQ4B
	uw4CwQ4Czg4C1Q4B2w4B6A4B7g4B9A4B+A4BgA8Chg8CjQ8Cmg8BnQ8BoA8Bpw8Bsw8B
	tQ8Bug8Bvw8CzA8C0w8B2Q8B5g8B8g8B/g8CixACmBABmhABnhABpRABrhABsRABuBAB
	vRACyhAC0RAB1xAB5BAB6hAC8BAB+xADgREBgxEBiREClhEBmBEBnBEBoxEBpREBrxEB
	thEBuxECyBECzxEB1REB4hEB6BEB7REC+hECgRIBhxICkRIBlBIBlhIBmRICnRIBoRIB
	pBIBqhIBrRIBsBIBsxIDtxIEvRIBwxIBxhICyhIBzBIC0BIB0xIB1hIB2RIB3BIB4BIB
	4xIB5RIC6RIB7BIB7xIB9hIE/BIEghMBhhMBiRMBjxMBkhMBlBMClxMCmxMBnxMBoRMC
	qBMBqxMBrhMBsRMCtRMEuxMBwRMBxBMCyBMByhMCzhMB0RMB1BMB2hMB3RMC4RMB4xMC
	5xMB6RMC7RMB9BME+hMB/BMCgBQBgxQChxQBjRQBkBQCkxQBlRQCmRQBnBQCoBQBqRQB
	sBQCtBQDwxQByRQBzxQB1RQB3BQB4hQB6BQB8RQB9RQB+RQB+xQBghUBixUCgAPSFBUW
	F1okY2xhc3NuYW1lWCRjbGFzc2VzXU5TTXV0YWJsZURhdGGjFhgZVk5TRGF0YVhOU09i
	amVjdNIUFRscXxARTlNNdXRhYmxlSW5kZXhTZXSjHR4ZXxARTlNNdXRhYmxlSW5kZXhT
	ZXRaTlNJbmRleFNldF8QD05TS2V5ZWRBcmNoaXZlctEhIlRyb290gAEACAARABoAIwAt
	ADIANwA9AEMASgBXAF4AagBtAG8AcQB2AH4FjgWQBZUFoAWpBbcFuwXCBcsF0AXkBegF
	/AYHBhkGHAYhAAAAAAAAAgEAAAAAAAAAIwAAAAAAAAAAAAAAAAAABiM=
	</data>
</dict>
</plist>
