<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>catalogVersion</key>
	<string>923; 10.1.10 (330236)</string>
	<key>catalogVersionBase</key>
	<string>812; 10.1.6 (303235)</string>
</dict>
</plist>
