<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FFSegmentStoreEncodedHeight</key>
	<integer>270</integer>
	<key>FFSegmentStoreEncodedWidth</key>
	<integer>152</integer>
	<key>FFSegmentStoreFieldOrder</key>
	<integer>-1</integer>
	<key>FFSegmentStoreFileFrameCount</key>
	<integer>1024</integer>
	<key>FFSegmentStoreFirstSample</key>
	<integer>0</integer>
	<key>FFSegmentStorePixelTransformArray</key>
	<array>
		<array>
			<real>0.20266666666666666</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>76</real>
			<real>0.0</real>
			<real>-0.20239880059970014</real>
			<real>0.0</real>
			<real>135</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>1</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>1</real>
		</array>
	</array>
	<key>FFSegmentStoreRenderProps</key>
	<string>FFRenderPropsThumbnail</string>
	<key>FFSegmentStoreSegmentStoreMD5</key>
	<data>
	XzLtYOLJCMw01Rry/TTNLA==
	</data>
	<key>FFSegmentStoreStoredFrameIndexes</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGHyBYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKUHCA8TGlUkbnVsbNMJCgsMDQ5cTlNSYW5nZUNvdW50ViRjbGFzc1tOU1Jhbmdl
	RGF0YRBWgASAAtIQChESV05TLmRhdGFPEPMGAQwBEgEfASUBLAE4AT4BRQFRAVgBXgFr
	AXEBdwGEAQGKAQGQAQGdAQGjAQGqAQG8AQHWAQHvAQGIAgGhAgG6AgHUAgHtAgGGAwGf
	AwG4AwHRAwHrAwGEBAGdBAG2BAHPBAHpBAG0BQHNBQHTBQHnBQGABgGSBgGZBgGQBwGw
	BwHJBwHPBwHiBwH8BwGOCAGVCAGuCAH4CQGKCgGRCgGqCgHDCgHJCgHcCgH1CgGICwHB
	CwHHCwHaCwHzCwGGDAGNDAG/DAHFDAHYDAHxDAGEDQHDDQHWDQHvDQGADwG/DwH+DwHz
	FAGyFQHxFQGwFgHvFgGAA9IUFRYXWiRjbGFzc25hbWVYJGNsYXNzZXNdTlNNdXRhYmxl
	RGF0YaMWGBlWTlNEYXRhWE5TT2JqZWN00hQVGxxfEBFOU011dGFibGVJbmRleFNldKMd
	HhlfEBFOU011dGFibGVJbmRleFNldFpOU0luZGV4U2V0XxAPTlNLZXllZEFyY2hpdmVy
	0SEiVHJvb3SAAQAIABEAGgAjAC0AMgA3AD0AQwBKAFcAXgBqAGwAbgBwAHUAfQFzAXUB
	egGFAY4BnAGgAacBsAG1AckBzQHhAewB/gIBAgYAAAAAAAACAQAAAAAAAAAjAAAAAAAA
	AAAAAAAAAAACCA==
	</data>
</dict>
</plist>
