<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupFolderName</key>
	<string>iMovie-Mediathek 1</string>
	<key>libraryID</key>
	<string>1B97D5FB-ED80-4309-9479-2DB3A58EA648</string>
</dict>
</plist>
