<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FFSegmentStoreEncodedHeight</key>
	<integer>270</integer>
	<key>FFSegmentStoreEncodedWidth</key>
	<integer>152</integer>
	<key>FFSegmentStoreFieldOrder</key>
	<integer>-1</integer>
	<key>FFSegmentStoreFileFrameCount</key>
	<integer>1024</integer>
	<key>FFSegmentStoreFirstSample</key>
	<integer>0</integer>
	<key>FFSegmentStorePixelTransformArray</key>
	<array>
		<array>
			<real>0.21111111111111111</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>76</real>
			<real>0.0</real>
			<real>-0.2109375</real>
			<real>0.0</real>
			<real>135</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>1</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>1</real>
		</array>
	</array>
	<key>FFSegmentStoreRenderProps</key>
	<string>FFRenderPropsThumbnail</string>
	<key>FFSegmentStoreSegmentStoreMD5</key>
	<data>
	rSI9EwH+ZINO7uabG0fgNg==
	</data>
	<key>FFSegmentStoreStoredFrameIndexes</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGHyBYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKUHCA8TGlUkbnVsbNMJCgsMDQ5cTlNSYW5nZUNvdW50ViRjbGFzc1tOU1Jhbmdl
	RGF0YRARgASAAtIQChESV05TLmRhdGFPECwMAR8BJQE/AVgBXgFxAYoBAZ0BAaQBAb0B
	AdYBAdwBAe8BAYkCAZwCAaICAYAD0hQVFhdaJGNsYXNzbmFtZVgkY2xhc3Nlc11OU011
	dGFibGVEYXRhoxYYGVZOU0RhdGFYTlNPYmplY3TSFBUbHF8QEU5TTXV0YWJsZUluZGV4
	U2V0ox0eGV8QEU5TTXV0YWJsZUluZGV4U2V0Wk5TSW5kZXhTZXRfEA9OU0tleWVkQXJj
	aGl2ZXLRISJUcm9vdIABAAgAEQAaACMALQAyADcAPQBDAEoAVwBeAGoAbABuAHAAdQB9
	AKwArgCzAL4AxwDVANkA4ADpAO4BAgEGARoBJQE3AToBPwAAAAAAAAIBAAAAAAAAACMA
	AAAAAAAAAAAAAAAAAAFB
	</data>
</dict>
</plist>
