<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FFSegmentStoreEncodedHeight</key>
	<integer>135</integer>
	<key>FFSegmentStoreEncodedWidth</key>
	<integer>100</integer>
	<key>FFSegmentStoreFieldOrder</key>
	<integer>-1</integer>
	<key>FFSegmentStoreFileFrameCount</key>
	<integer>1024</integer>
	<key>FFSegmentStoreFirstSample</key>
	<integer>0</integer>
	<key>FFSegmentStorePixelTransformArray</key>
	<array>
		<array>
			<real>0.083333333333333329</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>50</real>
			<real>0.0</real>
			<real>-0.084375000000000006</real>
			<real>0.0</real>
			<real>67.5</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>1</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>1</real>
		</array>
	</array>
	<key>FFSegmentStoreRenderProps</key>
	<string>FFRenderPropsThumbnail</string>
	<key>FFSegmentStoreSegmentStoreMD5</key>
	<data>
	LK03lkeb8cUAT3K8ZAWRHg==
	</data>
	<key>FFSegmentStoreStoredFrameIndexes</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGHyBYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKUHCA8TGlUkbnVsbNMJCgsMDQ5cTlNSYW5nZUNvdW50ViRjbGFzc1tOU1Jhbmdl
	RGF0YREBGoAEgALSEAoREldOUy5kYXRhTxEDQQABCgEVAiABLwE1AUABQgFLAWEBawFu
	AXYBjAEBjwEBlwEBmwEBoQEBtwEBwgEBxwEBzQEB4gEB7QEB7wEB8wEB+AEBjAICmAIB
	oAIBowIBuAIBwwIBzAIBzgIC2QIB5AIB7gIB+AICjwMBmQMCpAMDugMBxQMB0AMC5QMB
	8AMB8wMB+wMB/gMBkAQBmwQBpgQBqgQBuwQBwAQBxgQB0QQB1gQB5wQB8QQB/AQBgwUB
	jQUBkgUBnAUBrwUByAUB2QUB2wUB8wUBiAYBkwYBngYBpgYBqQYBtAYBvgYByQYB1AYB
	4AYC6gYB8wYC/wYBjQcBlQcBnwcCqgcBuQcBwAcBygcB5QcB9gcBgQgBjQgBkggBlggB
	oQgBrAgBvggCwQgByggBzAgB1wgB2ggB4AgB6ggB9wgBlwkBogkBpgkBwwkBzQkB7wkB
	8wkB+AkBnAoBpAoBwAoByAoBzwoB6goB8AoB9QoB+goCgAsBhQsBjQsBlgsBmwsBoQsB
	pQsCrAsBsAsBwwsBxgsBzQsC0AsC2gsB+gsDpgwCxwwB0gwC3QwB8wwC/QwDqA0Cqw0B
	wA0B0w0C1w0B/g0ChA4BjQ4BqQ4CsA4B1Q4B2g4B3A4BgA8CiQ8Bpw8Bqw8CtQ8B1g8C
	4Q8B9A8BgRACjhABrBACuhABwRAB2BAB4xAB5hAB+RABgxECjREBkxEBrhECzxEB1REB
	2REC4BEC5REB6hEB7REB9xEBhBICpxIBrxIC2hIC9BIB/BIBhhMCjBMBkRMBnhMBpxMB
	sRMCvBMBwRMByhMB0hMB3BMC6BMB9xMB/RMBhxQCjhQBkxQBoxQBqBQBshQCvhQBzxQB
	0xQB2hQB3RQCiBUBihUBpxUBtBUC3xUC9BUBihYCtRYCwRYB2hYB4BYC5RYB5xYB7BYB
	8hYB+xYB/RYBghcBhxcBixcBjRcCkhcBlxcBnRcBqBcBrRcBsxcBtxcCvRcBwhcByBcB
	0xcB2BcB2xcB3hcB4hcC6RcB7hcB8xcB/hcBgxgBiRgBjRgClBgBmRgBnxgBpxgBqRgB
	rhgBtBgBuBgC4xgC9BgBjhkBkBkBuRkBuxkBwRkB5RkCjhoBkBoCvBoBwhoBgAPSFBUW
	F1okY2xhc3NuYW1lWCRjbGFzc2VzXU5TTXV0YWJsZURhdGGjFhgZVk5TRGF0YVhOU09i
	amVjdNIUFRscXxARTlNNdXRhYmxlSW5kZXhTZXSjHR4ZXxARTlNNdXRhYmxlSW5kZXhT
	ZXRaTlNJbmRleFNldF8QD05TS2V5ZWRBcmNoaXZlctEhIlRyb290gAEACAARABoAIwAt
	ADIANwA9AEMASgBXAF4AagBtAG8AcQB2AH4DwwPFA8oD1QPeA+wD8AP3BAAEBQQZBB0E
	MQQ8BE4EUQRWAAAAAAAAAgEAAAAAAAAAIwAAAAAAAAAAAAAAAAAABFg=
	</data>
</dict>
</plist>
