<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FFSegmentStoreEncodedHeight</key>
	<integer>135</integer>
	<key>FFSegmentStoreEncodedWidth</key>
	<integer>76</integer>
	<key>FFSegmentStoreFieldOrder</key>
	<integer>-1</integer>
	<key>FFSegmentStoreFileFrameCount</key>
	<integer>1024</integer>
	<key>FFSegmentStoreFirstSample</key>
	<integer>0</integer>
	<key>FFSegmentStorePixelTransformArray</key>
	<array>
		<array>
			<real>0.10555555555555556</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>38</real>
			<real>0.0</real>
			<real>-0.10546875</real>
			<real>0.0</real>
			<real>67.5</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>1</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>1</real>
		</array>
	</array>
	<key>FFSegmentStoreRenderProps</key>
	<string>FFRenderPropsThumbnail</string>
	<key>FFSegmentStoreSegmentStoreMD5</key>
	<data>
	bxCw35jHmnDGbQDiYO0TdA==
	</data>
	<key>FFSegmentStoreStoredFrameIndexes</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGHyBYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKUHCA8TGlUkbnVsbNMJCgsMDQ5cTlNSYW5nZUNvdW50ViRjbGFzc1tOU1Jhbmdl
	RGF0YRAOgASAAtIQChESV05TLmRhdGFPECUMASQBPAFVAW0BhQEBngEBtgEBzwEB5wEB
	/wEBmAIBsAIByAIBgAPSFBUWF1okY2xhc3NuYW1lWCRjbGFzc2VzXU5TTXV0YWJsZURh
	dGGjFhgZVk5TRGF0YVhOU09iamVjdNIUFRscXxARTlNNdXRhYmxlSW5kZXhTZXSjHR4Z
	XxARTlNNdXRhYmxlSW5kZXhTZXRaTlNJbmRleFNldF8QD05TS2V5ZWRBcmNoaXZlctEh
	IlRyb290gAEACAARABoAIwAtADIANwA9AEMASgBXAF4AagBsAG4AcAB1AH0ApQCnAKwA
	twDAAM4A0gDZAOIA5wD7AP8BEwEeATABMwE4AAAAAAAAAgEAAAAAAAAAIwAAAAAAAAAA
	AAAAAAAAATo=
	</data>
</dict>
</plist>
