<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FFSegmentStoreEncodedHeight</key>
	<integer>135</integer>
	<key>FFSegmentStoreEncodedWidth</key>
	<integer>76</integer>
	<key>FFSegmentStoreFieldOrder</key>
	<integer>-1</integer>
	<key>FFSegmentStoreFileFrameCount</key>
	<integer>1024</integer>
	<key>FFSegmentStoreFirstSample</key>
	<integer>0</integer>
	<key>FFSegmentStorePixelTransformArray</key>
	<array>
		<array>
			<real>0.10133333333333333</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>38</real>
			<real>0.0</real>
			<real>-0.10119940029985007</real>
			<real>0.0</real>
			<real>67.5</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>1</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>1</real>
		</array>
	</array>
	<key>FFSegmentStoreRenderProps</key>
	<string>FFRenderPropsThumbnail</string>
	<key>FFSegmentStoreSegmentStoreMD5</key>
	<data>
	fOaepG2aTLpm6CCOx14tOw==
	</data>
	<key>FFSegmentStoreStoredFrameIndexes</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGHyBYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKUHCA8TGlUkbnVsbNMJCgsMDQ5cTlNSYW5nZUNvdW50ViRjbGFzc1tOU1Jhbmdl
	RGF0YRECOYAEgALSEAoREldOUy5kYXRhTxEGhQABBgEJAQwCDwESARUBGwEeAiEBJAIn
	ASkCLAIzATYBOAI8AT4CQgFFAUsBTgFRAlUBWAJbAV4BYQFkAWcBagJtAXACcwF2AnwC
	fwGCAQGEAQKIAQGKAQKOAQGQAQGUAQGXAQGZAQKdAQGgAQGjAQGnAQGpAQKtAQGwAQGz
	AQG1AQK5AQG8AQG/AQHDAQHFAQHIAQHLAQHOAQLRAQHUAQHWAQLcAQLgAQHjAQHmAQHp
	AQHsAQLvAQH1AQL5AQH8AQH/AQGCAgGFAgGIAgKNAgKRAgGUAgGXAgGaAgKdAgGgAgKk
	AgGmAgGoAgKsAgGvAgGyAgG0AgK4AgG6AgG+AgHAAgLEAgHHAgHLAgHNAgLRAgHUAgHX
	AgHaAgHcAgLgAgHjAgHmAgLpAgHtAgHvAgHyAgL1AgH4AgH7AgH+AgGAAwKGAwKKAwSQ
	AwGTAwKWAwGZAwKfAwKjAwGmAwGpAwGsAwGvAwKyAwG4AwHBAwHHAwHLAwLQAwLTAwHW
	AwHYAwLcAwHfAwHiAwHlAwHoAwLrAwHvAwHxAwH1AwH4AwH7AwH9AwKBBAGDBAKHBAGK
	BAGNBAGQBAGTBAGXBAGZBAGcBAKfBAKiBAKlBAGoBAGrBAGwBAK0BAG2BAK6BAK9BALA
	BALEBAHGBAHJBALNBAHPBALTBAHWBALZBAHcBAHiBAHlBAHoBALrBAHuBALxBAHzBAGD
	BQGPBQGVBQGbBQGrBQG0BQG6BQK9BQHDBQHGBQLJBQHMBQLPBQHSBQTbBQHeBQHgBQHi
	BQPnBQLrBQHtBQL0BQH2BQL6BQH9BQSDBgGGBgGMBgGPBgGSBgKVBgGYBgSeBgKkBgGn
	BgGqBgGsBgKxBgGzBgG2BgLFBgHRBgLeBgHuBgH2BgKKBwGOBwGQBwGdBwGmBwKqBwGs
	BwKwBwG2BwK5BwG8BwG/BwHCBwLFBwHIBwLOBwLRBwHVBwHXBwHbBwHeBwHhBwLnBwTt
	BwHvBwHzBwH2BwH5BwL8BwH/BwGBCAKFCAGICAGOCAKVCAKaCAGdCAGgCAGmCAGqCAGu
	CAGxCAK0CAG4CAHNCALRCAHaCAHpCAGACQKFCQGaCQGhCQGlCQGyCQG9CQHKCQLYCQLi
	CQHxCQH0CQL4CQH7CQL+CQGBCgGECgGKCgGNCgGQCgKTCgGWCgSdCgGjCgGmCgGpCgWv
	CgGyCgK1CgG7CgK+CgHBCgHDCgLHCgTNCgHPCgHTCgHVCgLZCgHcCgLfCgHiCgHkCgLr
	CgLuCgHyCgH0CgL4CgL7CgH+CgGACwGECwGHCwKKCwGMCwGQCwGSCwKcCwGlCwGuCwG4
	CwG9CwHBCwHHCwLNCwHPCwLTCwPZCwTfCwHhCwHlCwHoCwLrCwHuCwTzCwL3CwH6CwH9
	CwGADAGDDAGFDAOJDAGLDAOQDAGTDAGWDAGYDAGeDAGnDAKvDAGxDAG0DAG2DAG6DAG8
	DAK/DALDDATIDAPMDAHPDAHSDAHVDAHYDAHfDAPlDAPrDAHuDAHxDAH3DAH7DAL/DAGE
	DQKXDQGzDQHCDQLIDQHMDQHODQLSDQHWDQHYDQHbDQHeDQHgDQHkDQHnDQHqDQLvDQLy
	DQL2DQH5DQH8DQH+DQODDgGGDgaiDgK7DgG+DgLCDgHFDgHIDgHTDgLaDgLgDgLkDgHq
	DgHtDgHvDgLyDgH2DgT8DgKADwGCDwGFDwKIDwGKDwKODwGRDwSZDwKdDwGgDwGjDwGn
	DwGpDwGtDwKzDwO5DwG7DwG/DwHCDwLFDwHJDwPODwHRDwPXDwHaDwHdDwHfDwHjDwHl
	DwLrDwHxDwH+DwGBEAKdEAK5EALVEALxEAKNEQKpEQHEEQLgEQL8EQKYEgK0EgLQEgLs
	EgGIEwGkEwG/EwLbEwL3EwKTFAKvFALLFALnFALzFAH2FAH5FAP/FAGBFQOGFQGMFQOS
	FQOYFQGaFQGeFQKkFQGmFQKqFQGsFQGwFQGyFQO2FQG6FQO/FQLCFQHEFQHGFQHIFQHK
	FQLNFQLQFQHVFQPZFQHbFQHdFQPhFQHjFQHmFQLsFQLwFQT1FQH4FQP8FQH/FQGFFgKI
	FgGLFgGNFgORFgGUFgGWFgKdFgGgFgGkFgKqFgOwFgGyFgG2FgG4FgG8FgG+FgHAFgHC
	FgfOFgHRFgHUFgHWFgHaFgHcFgLgFgHiFgLmFgHpFgHsFgHuFgLyFgH1FgL5FgH+FgSF
	FwGHFwGaFwG2FwHRFwGAA9IUFRYXWiRjbGFzc25hbWVYJGNsYXNzZXNdTlNNdXRhYmxl
	RGF0YaMWGBlWTlNEYXRhWE5TT2JqZWN00hQVGxxfEBFOU011dGFibGVJbmRleFNldKMd
	HhlfEBFOU011dGFibGVJbmRleFNldFpOU0luZGV4U2V0XxAPTlNLZXllZEFyY2hpdmVy
	0SEiVHJvb3SAAQAIABEAGgAjAC0AMgA3AD0AQwBKAFcAXgBqAG0AbwBxAHYAfgcHBwkH
	DgcZByIHMAc0BzsHRAdJB10HYQd1B4AHkgeVB5oAAAAAAAACAQAAAAAAAAAjAAAAAAAA
	AAAAAAAAAAAHnA==
	</data>
</dict>
</plist>
