<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>export</key>
	<array>
		<dict>
			<key>date</key>
			<string>Dienstag, 29. August 2017 um 09:35:45 Mitteleuropäische Sommerzeit</string>
			<key>fullDate</key>
			<date>2017-08-29T07:35:45Z</date>
			<key>resultStr</key>
			<array>
				<string>/Users/d045365/Downloads/SAY Hi! (EN: iPad).mp4</string>
			</array>
			<key>sourceFP</key>
			<string>I5KXWLv1S4uVVF5+wrpBmw - 2017-08-16 12:32:42 +0000</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Dienstag, 29. August 2017 um 10:07:24 Mitteleuropäische Sommerzeit</string>
			<key>fullDate</key>
			<date>2017-08-29T08:07:24Z</date>
			<key>resultStr</key>
			<array>
				<string>/Users/d045365/Downloads/SAY Hi! (EN: iPad).mp4</string>
			</array>
			<key>sourceFP</key>
			<string>I5KXWLv1S4uVVF5+wrpBmw - 2017-08-29 07:42:04 +0000</string>
		</dict>
	</array>
</dict>
</plist>
