<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FFSegmentStoreEncodedHeight</key>
	<integer>270</integer>
	<key>FFSegmentStoreEncodedWidth</key>
	<integer>152</integer>
	<key>FFSegmentStoreFieldOrder</key>
	<integer>-1</integer>
	<key>FFSegmentStoreFileFrameCount</key>
	<integer>1024</integer>
	<key>FFSegmentStoreFirstSample</key>
	<integer>0</integer>
	<key>FFSegmentStorePixelTransformArray</key>
	<array>
		<array>
			<real>0.21111111111111111</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>76</real>
			<real>0.0</real>
			<real>-0.2109375</real>
			<real>0.0</real>
			<real>135</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>1</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>1</real>
		</array>
	</array>
	<key>FFSegmentStoreRenderProps</key>
	<string>FFRenderPropsThumbnail</string>
	<key>FFSegmentStoreSegmentStoreMD5</key>
	<data>
	h6l40y1HNguB3ZOkiy4cog==
	</data>
	<key>FFSegmentStoreStoredFrameIndexes</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGHyBYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKUHCA8TGlUkbnVsbNMJCgsMDQ5cTlNSYW5nZUNvdW50ViRjbGFzc1tOU1Jhbmdl
	RGF0YRAVgASAAtIQChESV05TLmRhdGFPED+dBgHpBgGaCAHmCAGyCQH+CQHKCgH9CgGW
	CwGuDAHhDAH6DAGqDwHDDwHdDwH2DwGPEAGpEAHCEAHbEAH1EAGAA9IUFRYXWiRjbGFz
	c25hbWVYJGNsYXNzZXNdTlNNdXRhYmxlRGF0YaMWGBlWTlNEYXRhWE5TT2JqZWN00hQV
	GxxfEBFOU011dGFibGVJbmRleFNldKMdHhlfEBFOU011dGFibGVJbmRleFNldFpOU0lu
	ZGV4U2V0XxAPTlNLZXllZEFyY2hpdmVy0SEiVHJvb3SAAQAIABEAGgAjAC0AMgA3AD0A
	QwBKAFcAXgBqAGwAbgBwAHUAfQC/AMEAxgDRANoA6ADsAPMA/AEBARUBGQEtATgBSgFN
	AVIAAAAAAAACAQAAAAAAAAAjAAAAAAAAAAAAAAAAAAABVA==
	</data>
</dict>
</plist>
