<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FFSegmentStoreEncodedHeight</key>
	<integer>135</integer>
	<key>FFSegmentStoreEncodedWidth</key>
	<integer>76</integer>
	<key>FFSegmentStoreFieldOrder</key>
	<integer>-1</integer>
	<key>FFSegmentStoreFileFrameCount</key>
	<integer>1024</integer>
	<key>FFSegmentStoreFirstSample</key>
	<integer>0</integer>
	<key>FFSegmentStorePixelTransformArray</key>
	<array>
		<array>
			<real>0.10555555555555556</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>38</real>
			<real>0.0</real>
			<real>-0.10546875</real>
			<real>0.0</real>
			<real>67.5</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>1</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>1</real>
		</array>
	</array>
	<key>FFSegmentStoreRenderProps</key>
	<string>FFRenderPropsThumbnail</string>
	<key>FFSegmentStoreSegmentStoreMD5</key>
	<data>
	JPuh0mOyrgkGS9znJWrQdQ==
	</data>
	<key>FFSegmentStoreStoredFrameIndexes</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGHyBYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKUHCA8TGlUkbnVsbNMJCgsMDQ5cTlNSYW5nZUNvdW50ViRjbGFzc1tOU1Jhbmdl
	RGF0YREBRoAEgALSEAoREldOUy5kYXRhTxEDugABBgEMARIBHgIkASoBLAEvATYBOAE9
	AUMBRQFPAVIBVQFbAV4CZwFrAW0BcwJ4AYABAYQBAYYBAYwBAY4BAZEBAZgBAZ4BAaQB
	AaoBAbEBAbcBAb0BAcQBAckBAc8BAtUBAd0BAeEBAecBAu4BAfYBAfoBAYACAYMCAYYC
	AZACAZICAZgCAZwCBKkCAasCAbECAbYCAsICAskCAc8CAdwCAeICAegCAfQCAvoCAYAD
	AYIDAYwDAY4DAZIDApkDAZsDAaUDAagDAasDAbEDAbQDAb0DAcEDAcMDAckDAs4DAdYD
	AdoDA+IDAecDAe4DAfQDAfoDAYAEAYYEAo0EAZMEAZkEAp8EAaUEAqsEAbMEAbcEAr0E
	AsAEAcMEAswEAdAEAdYEAdkEAdwEAeYEAegEAe4EAfIEAfQEAoAFAocFAY0FAZgFAp8F
	AaUFAbIFAbcFAr0FAsoFAdAFAdYFAdgFAeIFAukFAe8FAfoFAoEGAYcGAZMGAZcGAZkG
	AZ8GAqwGAbIGAbcGAsQGAcoGAdAGAdYGAtwGAuIGAukGAfUGAfsGAYEHAY4HAZQHAZYH
	AZoHAaYHAawHAbIHAb4HAcQHAcsHAdUHAdcHAd0HAeMHAe8HAfUHAfsHAYcIAo0IApQI
	AqAIAaYIAawIAbgIAr4IAsUIAdEIAdMIAtcIAd0IAekIAe4IA/UIAoIJAYcJAo4JAZIJ
	ApoJAaAJAaYJAbIJArgJAr8JAcsJAdEJA9cJAeMJAuoJAfAJAfwJAYIKAYgKAZIKAZQK
	AZsKAaEKAa0KAbMKAbkKAcUKAcsKAdEKAd0KAuMKAuoKAfYKAfwKAYILAY4LApELAZQL
	ApoLAqcLAa0LAbMLAb8LAcYLAcwLAdALAdgLAd4LAeQLAfALAfYLAf0LAYgMAo4MApQM
	AqEMAacMAa0MAbkMAr8MAsUMAs0MAc8MAdEMAtcMAt4MAeoMAfAMAvYMAoMNAYgNAo0N
	A5sNAaENAacNArMNArkNAsANAcwNAtINAdgNAeUNAesNAfENAf0NAYMOAYkOAY0OAZUO
	AZwOAaIOAa4OAbQOAboOAcYOAcwOAdMOAd8OAeUOAesOAfcOAf0OAYIPAosPAZAPAZUP
	ApsPAqgPAa0PArQPAb8PAsYPAssPA9gPAt4PAuUPAfEPAfcPAfwPA4kQAo8QApYQAaIQ
	AacQAq4QAbkQA8AQAsYQAskQAdMQAdgQAt8QAesQAfEQAvcQAoQRAYkRApARAaIRAbUR
	AbsRAcIRAdIRAdgRAYAD0hQVFhdaJGNsYXNzbmFtZVgkY2xhc3Nlc11OU011dGFibGVE
	YXRhoxYYGVZOU0RhdGFYTlNPYmplY3TSFBUbHF8QEU5TTXV0YWJsZUluZGV4U2V0ox0e
	GV8QEU5TTXV0YWJsZUluZGV4U2V0Wk5TSW5kZXhTZXRfEA9OU0tleWVkQXJjaGl2ZXLR
	ISJUcm9vdIABAAgAEQAaACMALQAyADcAPQBDAEoAVwBeAGoAbQBvAHEAdgB+BDwEPgRD
	BE4EVwRlBGkEcAR5BH4EkgSWBKoEtQTHBMoEzwAAAAAAAAIBAAAAAAAAACMAAAAAAAAA
	AAAAAAAAAATR
	</data>
</dict>
</plist>
