<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FFSegmentStoreEncodedHeight</key>
	<integer>270</integer>
	<key>FFSegmentStoreEncodedWidth</key>
	<integer>152</integer>
	<key>FFSegmentStoreFieldOrder</key>
	<integer>-1</integer>
	<key>FFSegmentStoreFileFrameCount</key>
	<integer>1024</integer>
	<key>FFSegmentStoreFirstSample</key>
	<integer>0</integer>
	<key>FFSegmentStorePixelTransformArray</key>
	<array>
		<array>
			<real>0.21111111111111111</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>76</real>
			<real>0.0</real>
			<real>-0.2109375</real>
			<real>0.0</real>
			<real>135</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>1</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>1</real>
		</array>
	</array>
	<key>FFSegmentStoreRenderProps</key>
	<string>FFRenderPropsThumbnail</string>
	<key>FFSegmentStoreSegmentStoreMD5</key>
	<data>
	CQEwOqYInT92aFtlV4E5Qw==
	</data>
	<key>FFSegmentStoreStoredFrameIndexes</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGHyBYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKUHCA8TGlUkbnVsbNMJCgsMDQ5cTlNSYW5nZUNvdW50ViRjbGFzc1tOU1Jhbmdl
	RGF0YRAcgASAAtIQChESV05TLmRhdGFPEFTcAQGcAgHbAgGaAwHZAwGYBAGWBQHVBQGV
	BgHUBgGTBwHSBwGPCQHOCQGOCgGMCwGODAGDEAHCEAGBEQGAEgG/EgH+EgG5FQH5FQG4
	FgH3FgG2FwGAA9IUFRYXWiRjbGFzc25hbWVYJGNsYXNzZXNdTlNNdXRhYmxlRGF0YaMW
	GBlWTlNEYXRhWE5TT2JqZWN00hQVGxxfEBFOU011dGFibGVJbmRleFNldKMdHhlfEBFO
	U011dGFibGVJbmRleFNldFpOU0luZGV4U2V0XxAPTlNLZXllZEFyY2hpdmVy0SEiVHJv
	b3SAAQAIABEAGgAjAC0AMgA3AD0AQwBKAFcAXgBqAGwAbgBwAHUAfQDUANYA2wDmAO8A
	/QEBAQgBEQEWASoBLgFCAU0BXwFiAWcAAAAAAAACAQAAAAAAAAAjAAAAAAAAAAAAAAAA
	AAABaQ==
	</data>
</dict>
</plist>
