<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FFSegmentStoreEncodedHeight</key>
	<integer>270</integer>
	<key>FFSegmentStoreEncodedWidth</key>
	<integer>202</integer>
	<key>FFSegmentStoreFieldOrder</key>
	<integer>-1</integer>
	<key>FFSegmentStoreFileFrameCount</key>
	<integer>1024</integer>
	<key>FFSegmentStoreFirstSample</key>
	<integer>0</integer>
	<key>FFSegmentStorePixelTransformArray</key>
	<array>
		<array>
			<real>0.16833333333333333</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>101</real>
			<real>0.0</real>
			<real>-0.16875000000000001</real>
			<real>0.0</real>
			<real>135</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>1</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>1</real>
		</array>
	</array>
	<key>FFSegmentStoreRenderProps</key>
	<string>FFRenderPropsThumbnail</string>
	<key>FFSegmentStoreSegmentStoreMD5</key>
	<data>
	AEchkHw6ts80bx1eb0HK+w==
	</data>
	<key>FFSegmentStoreStoredFrameIndexes</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGHyBYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKUHCA8TGlUkbnVsbNMJCgsMDQ5cTlNSYW5nZUNvdW50ViRjbGFzc1tOU1Jhbmdl
	RGF0YRAHgASAAtIQChESV05TLmRhdGFPEBW+BgHVBgHgBgHrBgGBBwGMBwGYBwGAA9IU
	FRYXWiRjbGFzc25hbWVYJGNsYXNzZXNdTlNNdXRhYmxlRGF0YaMWGBlWTlNEYXRhWE5T
	T2JqZWN00hQVGxxfEBFOU011dGFibGVJbmRleFNldKMdHhlfEBFOU011dGFibGVJbmRl
	eFNldFpOU0luZGV4U2V0XxAPTlNLZXllZEFyY2hpdmVy0SEiVHJvb3SAAQAIABEAGgAj
	AC0AMgA3AD0AQwBKAFcAXgBqAGwAbgBwAHUAfQCVAJcAnACnALAAvgDCAMkA0gDXAOsA
	7wEDAQ4BIAEjASgAAAAAAAACAQAAAAAAAAAjAAAAAAAAAAAAAAAAAAABKg==
	</data>
</dict>
</plist>
