<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FFSegmentStoreEncodedHeight</key>
	<integer>270</integer>
	<key>FFSegmentStoreEncodedWidth</key>
	<integer>152</integer>
	<key>FFSegmentStoreFieldOrder</key>
	<integer>-1</integer>
	<key>FFSegmentStoreFileFrameCount</key>
	<integer>1024</integer>
	<key>FFSegmentStoreFirstSample</key>
	<integer>0</integer>
	<key>FFSegmentStorePixelTransformArray</key>
	<array>
		<array>
			<real>0.21111111111111111</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>76</real>
			<real>0.0</real>
			<real>-0.2109375</real>
			<real>0.0</real>
			<real>135</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>1</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>1</real>
		</array>
	</array>
	<key>FFSegmentStoreRenderProps</key>
	<string>FFRenderPropsThumbnail</string>
	<key>FFSegmentStoreSegmentStoreMD5</key>
	<data>
	h6l40y1HNguB3ZOkiy4cog==
	</data>
	<key>FFSegmentStoreStoredFrameIndexes</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGHyBYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKUHCA8TGlUkbnVsbNMJCgsMDQ5cTlNSYW5nZUNvdW50ViRjbGFzc1tOU1Jhbmdl
	RGF0YREBJ4AEgALSEAoREldOUy5kYXRhTxEDZgYBDAESAh8BJQIsATgCPwFFAVIBWAFe
	AmsBcQJ4AYQBAosBAZEBAZ4BAaQBAaoBArcBAb0BAsQBAdABAtcBAd0BAfABAfYBAoMC
	AYkCApACAZwCAqICAqkCAbYCAbwCAcICAs8CAdUCAtwCAekCAe4CAvUCAYIDAYgDAY4D
	ApsDAaEDAqgDAbQDAroDAsEDAc4DAdMDAtoDAucDAe0DAvQDAYAEAoYEAo0EAZkEAp8E
	AqYEArMEAbkEAsAEAcwEAtIEAtkEAeYEAesEAvIEAv8EAYUFAowFAZgFAp4FAqUFAbIF
	AbcFAr4FAssFAdAFAdIFAdgFAeUFAeoFAvEFAf4FAYMGAooGApcGAZwGAZ4GAaQGAbAG
	ArYGAr0GAcoGAc8GAtYGAuMGAeoGAfAGAfUGAf0GAYEHAYMHAYkHAY4HAZYHAZoHAZwH
	AaMHAaYHAa8HAbIHAbYHAbwHAb4HAckHAcsHAc8HAdUHAdcHAeIHAugHAe4HAvsHAYEI
	AogIAZQIApsIAaAIAqwIAa4IAbQIAbkIA8UIAccIAc0IAtEIAdMIAt0IAeAIAucIAekI
	Ae0IAvYIAfoIAYAJAYIJAYYJAo4JAZIJApkJAqAJAaYJAawJArMJAbkJAb8JAcYJAcsJ
	AtIJAtcJAd8JAeQJA+wJAfAJAfgJAvwJAf8JAYUKAYgKAZIKAZQKAZgKAZ8KAaEKAasK
	Aa0KAbIKAbgKAsUKAcsKAdAKAt4KAeQKAeoKAvYKAv4KAYILAYQLAY8LA5cLAZsLAZ0L
	AacLAaoLAbALAbMLAbcLAb8LAcMLAcoLAcwLAdALAdgLAd0LAeMLAukLAfALAfYLAfwL
	AoIMAokMAY4MApUMApwMAaEMAagMAq0MAa8MAbUMAboMAcIMAcYMAcgMAc0MA9IMAdsM
	Ad4MAeIMAegMAeoMAfQMAvcMAfsMAYENAYMNAY0NA5QNAZoNAqcNAq4NAbQNAcANAscN
	AcwNAtgNAdoNAecNAfMNAYAOAY0OAZkOAaYOAbMOAb8OAcwOAdkOAeUOAfIOAf8OAYoP
	ApgPAaQPArEPAb4PAckPA9cPAeQPAfAPAv0PAYkQApYQAqMQAbAQAbwQAsgQAtYQAeIQ
	Au8QAfwQAYgRApURAaIRAa8RAbsRAcgRAdURAdwRAYAD0hQVFhdaJGNsYXNzbmFtZVgk
	Y2xhc3Nlc11OU011dGFibGVEYXRhoxYYGVZOU0RhdGFYTlNPYmplY3TSFBUbHF8QEU5T
	TXV0YWJsZUluZGV4U2V0ox0eGV8QEU5TTXV0YWJsZUluZGV4U2V0Wk5TSW5kZXhTZXRf
	EA9OU0tleWVkQXJjaGl2ZXLRISJUcm9vdIABAAgAEQAaACMALQAyADcAPQBDAEoAVwBe
	AGoAbQBvAHEAdgB+A+gD6gPvA/oEAwQRBBUEHAQlBCoEPgRCBFYEYQRzBHYEewAAAAAA
	AAIBAAAAAAAAACMAAAAAAAAAAAAAAAAAAAR9
	</data>
</dict>
</plist>
