<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FFSegmentStoreEncodedHeight</key>
	<integer>270</integer>
	<key>FFSegmentStoreEncodedWidth</key>
	<integer>202</integer>
	<key>FFSegmentStoreFieldOrder</key>
	<integer>-1</integer>
	<key>FFSegmentStoreFileFrameCount</key>
	<integer>1024</integer>
	<key>FFSegmentStoreFirstSample</key>
	<integer>0</integer>
	<key>FFSegmentStorePixelTransformArray</key>
	<array>
		<array>
			<real>0.16833333333333333</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>101</real>
			<real>0.0</real>
			<real>-0.16875000000000001</real>
			<real>0.0</real>
			<real>135</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>1</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>1</real>
		</array>
	</array>
	<key>FFSegmentStoreRenderProps</key>
	<string>FFRenderPropsThumbnail</string>
	<key>FFSegmentStoreSegmentStoreMD5</key>
	<data>
	duP8AqYBMt5w9jeMMutw3g==
	</data>
	<key>FFSegmentStoreStoredFrameIndexes</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGHyBYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKUHCA8TGlUkbnVsbNMJCgsMDQ5cTlNSYW5nZUNvdW50ViRjbGFzc1tOU1Jhbmdl
	RGF0YRACgASAAtIQChESV05TLmRhdGFG+hQBpxUBgAPSFBUWF1okY2xhc3NuYW1lWCRj
	bGFzc2VzXU5TTXV0YWJsZURhdGGjFhgZVk5TRGF0YVhOU09iamVjdNIUFRscXxARTlNN
	dXRhYmxlSW5kZXhTZXSjHR4ZXxARTlNNdXRhYmxlSW5kZXhTZXRaTlNJbmRleFNldF8Q
	D05TS2V5ZWRBcmNoaXZlctEhIlRyb290gAEACAARABoAIwAtADIANwA9AEMASgBXAF4A
	agBsAG4AcAB1AH0AhACGAIsAlgCfAK0AsQC4AMEAxgDaAN4A8gD9AQ8BEgEXAAAAAAAA
	AgEAAAAAAAAAIwAAAAAAAAAAAAAAAAAAARk=
	</data>
</dict>
</plist>
