<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FFSegmentStoreEncodedHeight</key>
	<integer>270</integer>
	<key>FFSegmentStoreEncodedWidth</key>
	<integer>152</integer>
	<key>FFSegmentStoreFieldOrder</key>
	<integer>-1</integer>
	<key>FFSegmentStoreFileFrameCount</key>
	<integer>1024</integer>
	<key>FFSegmentStoreFirstSample</key>
	<integer>0</integer>
	<key>FFSegmentStorePixelTransformArray</key>
	<array>
		<array>
			<real>0.20266666666666666</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>76</real>
			<real>0.0</real>
			<real>-0.20239880059970014</real>
			<real>0.0</real>
			<real>135</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>1</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>1</real>
		</array>
	</array>
	<key>FFSegmentStoreRenderProps</key>
	<string>FFRenderPropsThumbnail</string>
	<key>FFSegmentStoreSegmentStoreMD5</key>
	<data>
	5oxo+f9/DBc6g3272G7/Zg==
	</data>
	<key>FFSegmentStoreStoredFrameIndexes</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGHyBYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKUHCA8TGlUkbnVsbNMJCgsMDQ5cTlNSYW5nZUNvdW50ViRjbGFzc1tOU1Jhbmdl
	RGF0YREBMoAEgALSEAoREldOUy5kYXRhTxEDhgABDAESAR8BJAInATgBPAE+AVUBVwJe
	AW0BcQF3AX0BhAECigEBnQEBowEBqQEBtgEBvAEBxwEBzgEC1gEB3AEB5gEB7wEB9QEB
	/wEBhQIBiAIBlgICmwIBoQIBrwIBugIBwQIByAIB1AIB2gIB4AIB5gIB7QIB+AIBhgMB
	jAMBmQMBnwMBsgMCtgMBuAMB0QMC1wMC6wMB/QMBhAQClgQBnQQBowQBtgQByQQBzwQC
	1QQC4QQB6QQB7wQB8wQBggUBlAUCmwUBpAUBtAUBugUBzQUC0wUB4AUB5wUB9AUBgAYB
	hgYBjwYBkgYBmQYBrAYBsgYBxAYBywYC0QYB5QYB7gYB9wYB/gYBkAcBkwcBlwcBnQcB
	rwcCvQcBwwcByQcCzwcB4gcC6QcB/AcBjggBlQgBrAgDswgCxwgCzQgB2ggB4AgC6wgB
	+ggBgAkBggkBjAkBkwkBpQkBqgkDxQkCywkB0gkB3gkC+AkBigoBkQoBmQoBogoBqQoC
	wwoCyAoB3AoC8QoB9QoChwsBjwsBpwsCwQsCxgsC2gsC8wsChQwBjQwBkQwBowwBpQwC
	vwwCxAwC2AwC3AwB3gwB4AwB8QwC9QwBgw0Biw0BoQ0Bow0CsA0BvQ0Cwg0C1g0C7w0C
	/w0BgQ4CiA4Cnw4Cog4Cuw4CwA4Czw4C1A4C7Q4C/w4Chg8CnQ8EuQ8Cvg8DzA8B0Q8D
	6w8C7g8B/Q8BhBACnBABnhABtxACvBABvhAB0BAC6RAC+xAB/xABghECjhEBmhEBnBEB
	tRECuhEBzhEC3REB4REB5xEC7hEB+BEC+xEBgBIChxIBlBIBlhIBmBIDrRICsxICzBIC
	zxIB5RIC/RIDlBMBlxMCsRMCthMBxBMByhMD0RMB3BMC4xMC6hMB9RMB9xMB/BMCgxQB
	kBQClRQCnBQBqRQBrxQCtBQCvRQBwhQByBQDzxQB2xQB4RQC6BQB7BQB8xQC+hQCgRUB
	ihUBjhUCkxUCmhUBpxUBrBUDshUCuxUBwBUBxhUCzRUB2RUB3xUC5hUB8RUC+BUC/xUB
	ixYDkRYCmBYBpRYBqhYDsBYCuBYBvhYBxBYCyxYB1xYB2xYB3RYC5BYB7xYC9hYC/RYB
	ihcBjxcCqBcDwhcC2xcC5hcB9BcC+hcBjRgCphgBqBgBvxgBwRgByRgB2RgC8hgB+xgB
	ixkBlRkBpBkBtRkBgAPSFBUWF1okY2xhc3NuYW1lWCRjbGFzc2VzXU5TTXV0YWJsZURh
	dGGjFhgZVk5TRGF0YVhOU09iamVjdNIUFRscXxARTlNNdXRhYmxlSW5kZXhTZXSjHR4Z
	XxARTlNNdXRhYmxlSW5kZXhTZXRaTlNJbmRleFNldF8QD05TS2V5ZWRBcmNoaXZlctEh
	IlRyb290gAEACAARABoAIwAtADIANwA9AEMASgBXAF4AagBtAG8AcQB2AH4ECAQKBA8E
	GgQjBDEENQQ8BEUESgReBGIEdgSBBJMElgSbAAAAAAAAAgEAAAAAAAAAIwAAAAAAAAAA
	AAAAAAAABJ0=
	</data>
</dict>
</plist>
