<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>export</key>
	<array>
		<dict>
			<key>date</key>
			<string>Mittwoch, 16. August 2017 um 12:47:15 Mitteleuropäische Sommerzeit</string>
			<key>fullDate</key>
			<date>2017-08-16T10:47:15Z</date>
			<key>resultStr</key>
			<array>
				<string>/Users/d045365/Downloads/SAY Hi! (EN: iPhone).mp4</string>
			</array>
			<key>sourceFP</key>
			<string>k7w/19NCQTOFudLF4peekA - 2017-08-16 10:46:17 +0000</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Mittwoch, 16. August 2017 um 12:57:51 Mitteleuropäische Sommerzeit</string>
			<key>fullDate</key>
			<date>2017-08-16T10:57:51Z</date>
			<key>resultStr</key>
			<array>
				<string>/Users/d045365/Downloads/SAY Hi! (EN: iPhone).mp4</string>
			</array>
			<key>sourceFP</key>
			<string>k7w/19NCQTOFudLF4peekA - 2017-08-16 10:49:29 +0000</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Montag, 28. August 2017 um 17:14:30 Mitteleuropäische Sommerzeit</string>
			<key>fullDate</key>
			<date>2017-08-28T15:14:30Z</date>
			<key>resultStr</key>
			<array>
				<string>/Users/d045365/Downloads/finished.mp4</string>
			</array>
			<key>sourceFP</key>
			<string>k7w/19NCQTOFudLF4peekA - 2017-08-16 10:49:29 +0000</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Dienstag, 29. August 2017 um 10:08:23 Mitteleuropäische Sommerzeit</string>
			<key>fullDate</key>
			<date>2017-08-29T08:08:23Z</date>
			<key>resultStr</key>
			<array>
				<string>/Users/d045365/Downloads/SAY Hi! (EN: iPhone).mp4</string>
			</array>
			<key>sourceFP</key>
			<string>k7w/19NCQTOFudLF4peekA - 2017-08-29 07:40:52 +0000</string>
		</dict>
	</array>
</dict>
</plist>
